html {
    height: 100%;
    width: 100%;
  }
  #imageGallery {
    display: flex;
    overflow: hidden;
  }
  
  #imageGallery img {
    width: 100%;
    height: auto;
  }
  
  #timer {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
  }
  